<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Strona Główna | Typerka</title>
        <link rel="icon" type="image/png" href="/favicon.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
        
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js') }}"></script>
    
    </head>
    <body class='opl' link="gray" vlink="gray" alink="gray">        
        
        <div id="content_01">
            <img src="{{ asset('images/foto.jpg') }}" >
        </div>
        <div id="content_02">
            <a href="{{ path('liga_typerow_table') }}">TABELA</a>
            <a href="{{ path('liga_typerow_types') }}">TYPY</a>
            <a href="{{ path('liga_typerow_statistics') }}">STATYSTYKI</a>
            <a href="{{ path('liga_typerow_ranking') }}">RANKING</a>
            <a href="{{ path('liga_typerow_principles') }}">ZASADY</a>
            <a href="{{ path('liga_typerow_forum') }}">FORUM</a>
            
            {% if app.user %}
                <a href="{{ path('_logout') }}">Logout</a>
            {% endif %}
        </div>
        
        <div id="content_03">

        </div>
        
        <div id="content_04">
            {% block content %}
            {% endblock %}
        </div>
        
        <div id="content_05">
            <img src="{{ asset('images/footer_tlo.png') }}" >
        </div>
        
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
        {% endblock %}
    </body>
</html>

        
        
        
        
        
        
        
        
        
        

