{% extends 'base.html.twig' %}

{% block content %}
    <h1>Season</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ season.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ season.name }}</td>
            </tr>
            <tr>
                <th>Datestart</th>
                <td>{% if season.dateStart %}{{ season.dateStart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateend</th>
                <td>{% if season.dateEnd %}{{ season.dateEnd|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if season.createdAt %}{{ season.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if season.updatedAt %}{{ season.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_season_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('season_edit', { 'id': season.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
