{% extends 'base.html.twig' %}

{% block content %}
    <h1>Matchday</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ matchday.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ matchday.name }}</td>
            </tr>
            <tr>
                <th>Datefrom</th>
                <td>{% if matchday.dateFrom %}{{ matchday.dateFrom|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateto</th>
                <td>{% if matchday.dateTo %}{{ matchday.dateTo|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if matchday.createdAt %}{{ matchday.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{% if matchday.updatedAt %}{{ matchday.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_matchday_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('matchday_edit', { 'id': matchday.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
