{% extends 'base.html.twig' %}

{% block content %}
    <table>
        {% for rank in ranks %}
            <tr>
                <td>{{ rank.username }}</td>
                <td>{{ rank.avgPtsForMatch }}</td>
                <td>{{ rank.seasons }}</td>
                <td>{{ rank.numOfQue }}</td>
                <td>{{ rank.totalpoints }}</td>
                <td>{{ rank.match2 }}</td>
                <td>{{ rank.match4 }}</td>
            </tr>
        {% endfor %}
        <tr>
    </table>
{% endblock %}