{% extends 'base.html.twig' %}

{% block content %}
    
    {% if 'now'|date('d-m-Y') <  find_matchday(app.request.get('matchday')).dateFrom|date('d-m-Y') and 'now'|date('d-m-Y') <  find_matchday(app.request.get('matchday')).dateTo|date('d-m-Y') %}
        {% set nextMatchday = true %}
    {% else %}
        {% set nextMatchday = false %}
    {% endif %}
    
    {% if types is not empty %}
        <table>
            <tr class="type_header">
                <th class="team_matchday">Mecze/Gracze</th>
                <th class="team_matchday_short">M/G</th>
                {% for user in get_users() %}
                <th class="team_user">{{ user }}</th>
                <th class="team_user_shortname">{{ user[:1] }}</th>
                {% endfor %}
            </tr>
            {% for key,type in types %}
                <tr>
                    <td class="team_fullname">{{ key }}</td>
                    {% for k,tp in type %}
{#                    <td class="type_type">{{ tp }}</td> #}
                        {% if nextMatchday == true and tp != '-' %}
                            <td class="type_type">*</td>
                        {% else %}
                            <td class="type_type">{{ tp }}</td> 
                        {% endif %}
                    {% endfor %} 
                </tr>
            {% endfor %}  
        </table>
    {% endif %}
    
{% endblock %}

{% block infobar %}
    <div class="list">
        <br />
        <p class="queque_number">Nr. kolejki</p>
    {% for i in 1..15 %}
        <a class="type_matchday_big_screen" href="{{ path('liga_typerow_userstypes', {'matchday' : i}) }}">Kolejka {{ i }}</a> 
        <a class="type_matchday_small_screen" href="{{ path('liga_typerow_userstypes', {'matchday' : i}) }}">{{ i }}</a> 
    {% endfor %} 
    </div>   
{% endblock infobar %}