{% extends 'base.html.twig' %}

{% block content %}
    
    {% if 'now'|date('d-m-Y') <  find_matchday(app.request.get('matchday')).dateFrom|date('d-m-Y') and 'now'|date('d-m-Y') <  find_matchday(app.request.get('matchday')).dateTo|date('d-m-Y') %}
        {% set nextMatchday = true %}
    {% else %}
        {% set nextMatchday = false %}
    {% endif %}
    
    {% for i in 1..15 %}
        <a class="type_matchday_big_screen" href="{{ path('liga_typerow_userstypes', {'matchday' : i}) }}">Kolejka {{ i }}</a> 
        <a class="type_matchday_small_screen" href="{{ path('liga_typerow_userstypes', {'matchday' : i}) }}">{{ i }}</a> 
    {% endfor %}

    <table>
      <tr class="type_header">
        <th>Mecze/Gracze</th>
        {% for user in get_users() %}
            <th>{{ user }}</th>
        {% endfor %}
      </tr>
        {% for key,type in types %}
        <tr>
            <td class="team_fullname">{{ type.host }} - {{ type.guest }}</td>
            <td class="team_shortname">{{ type.host_shortname }} - {{ type.guest_shortname }}</td>
            {% for tp in type.types %}
                {% if nextMatchday == true and tp != '-' %}
                    <td>*</td>
                {% else %}
                    <td>{{ tp }}</td> 
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
        
{% endblock %}