{% extends 'base.html.twig' %}

{% block content %}
    
    {% if 'now'|date('d-m-Y') <  find_matchday(app.request.get('matchday')).dateFrom|date('d-m-Y') and 'now'|date('d-m-Y') <  find_matchday(app.request.get('matchday')).dateTo|date('d-m-Y') %}
        {% set nextMatchday = true %}
    {% else %}
        {% set nextMatchday = false %}
    {% endif %}
    
    {% for i in 1..15 %}
        <a href="{{ path('liga_typerow_userstypes', {'matchday' : i}) }}">Kolejka {{ i }}</a> 
    {% endfor %}

    <table>
        {% for key,type in types %}
        <tr>
            <td>{{ type.host }} - {{ type.guest }}</td>
            {% for tp in type.types %}
                <td>{{ tp }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
        
{% endblock %}